@import '../../styles/variables.module.scss';

.reviewWrapper {
    position: relative;
    height: 545px;
    background-color: $dark-blue;
    border-radius: 15px;
    margin: 199px 140px 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 150px;
}

.jeremyImg {
    position: absolute;
    left: 13%;
    bottom: 1px;
}

.line {
    position: absolute;
    left: 50%;
    top: 30%;   
}

.review {
    margin-top: 10px;
}

.title {
    margin-top: 80px;
    font-weight: 400;
    font-size: $headling-L;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: $white;
}

.boldTitle {
    font-weight: 900;
}

.text {
    width: 300px;
    margin-top: 40px;
    font-weight: 400;
    font-size: $quote-font-size;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: $white;
}

.authorReview {
    margin-top: 40px;
}

.author {
    font-weight: 700;
    font-size: $body-font-size;
    line-height: 32px;
    color: $white;
}

.position {
    font-weight: 400;
    font-size: $headling-S;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: $white;
}

@media (max-width: 768px) {
    .reviewWrapper {
        height: 684px;
        margin: 473px 40px 0;
        display: block;
    }

    .jeremyImg {
        left: 20%;
        bottom: 455px;
        z-index: 100;
    }

    .line {
        left: 40%;
        top: 38%;   
    }

    .review {
        position: absolute;
        top: 40%; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blur {
        position: absolute;
        left: 10%;
        bottom: 405px;
    }

    .text {
        width: 600px;
        margin-top: 40px;
        margin-left: 20px;
        text-align: center;
    }

    .authorReview {
        text-align: center;
        margin-top: 10px;
    }
}