$dark-blue: #172339;
$dark-gray: #49566d;
$baige: #f3ede7;
$white: #faf8f6;
$purple: #a060ff;
$pink: #cb30e3;
$orange: #ffa84e;

$headling-XL: 72px;
$headling-L: 48px;
$headling-M: 18px;
$headling-S: 16px;
$quote-font-size: 20px;
$body-font-size: 18px;
$footer-font-size: 15px;
