@import '../../styles/variables.module.scss';

.solutionWrapper {
    max-width: 1110px;
    margin: auto;
    padding: 0px 39px;
    display: flex;
    flex-direction: row;
}

.fistBlock {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 2.7rem 0px;
    gap: 40px;
    min-height: 600px;
    min-width: 500px;
}

.titleBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    align-items: flex-start;
    position: relative;
    margin-right: -50%;
}

.title {
    width: 635px;
    font-size: $headling-XL;
    line-height: 78px;
}

.title strong {
    font-weight: 700;
}

.solution {
    font-weight: 700;
    position: relative;
    display: inline-block;
}

.solution::before {
    display: block;
    content: " ";
    background-image: url(../../assets/pattern-curved-line-1.svg);
    background-size: contain;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -2rem;
}

.supText {
    max-width: 38%;
    color: $dark-gray;
    font-size: $headling-M;
    line-height: 32px;
}

.imgHero {
    display: block;
    max-height: 600px;
    max-width: 350px;
}

.imgHeroLandscape {
    display: none;
    align-self: center;
}

.secondBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 8px;
}

.infoWrapper {
    color: $dark-gray;
    font-size: $headling-S;
    line-height: 26px;
}

.boldNumber {
    color: $dark-blue;
    font-weight: 700;
    font-size: $headling-L;
    line-height: 56px;
}