@import '../../styles/variables.module.scss';

.solutionWrapper {
    width: 1100px;
    height: 600px;
    margin: 200px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 350px;
}

.fistBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 99;
}

.title {
    width: 645px;
    height: 156px;  
    font-weight: 300;
    color: $dark-blue;
    font-size: $headling-XL;
    line-height: 78px;
    letter-spacing: -1px;
}

.boldTitle {
    font-weight: 900;
}

.supText {
    width: 350px;
    height: 96px;
    margin-top: 40px;
    font-weight: 100;
    font-size: $headling-M;
    line-height: 32px;
    color: $dark-gray;
    letter-spacing: 0.1px;
}

.btn {
    margin-top: 50px;
}

.curveLine {
    position: absolute;
    left: 490px;
    top: 230px;
    z-index: 99;
}

.imgHero {
    position: absolute;
    left: 43%;
    top: 150px;
}

.secondBlock {
    display: flex;
    color: $dark-blue;
    flex-direction: column;
    align-items: flex-start;
}

.boldNumber {
    height: 56px;
    font-weight: 700;
    font-size: $headling-L;
    line-height: 56px;
    letter-spacing: -0.5 px;
}

.infoWrapper {
    margin-bottom: 63px;
}

.numberInfo {
    color: $dark-gray;
    letter-spacing: 2.5px;
    font-weight: 400;
    font-size: $headling-S;
}

@media (max-width: 768px) {
    .solutionWrapper {
        width: 689px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 300px;
    }

    .title {
        width: 445px;
        height: 100px;  
        font-size: $headling-L;
        line-height: 58px;
    }

    .supText {
        width: 350px;
        height: 76px;
        margin-top: 30px;
        font-weight: 100;
        font-size: $headling-S;
        line-height: 22px;
    }

    .curveLine {
        left: 190px;
    }

    .imgHero {
        left: 50%;
        top: 150px;
    }

    .btn {
        margin-top: 20px;
    }

    .secondBlock {
        display: grid;
        grid-template-columns: repeat(3, 50%);
        gap: 50px;
        justify-items: center;
    }
}