@import '../../styles/variables.module.scss';

.headerWrapper {
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 40px auto 80px;
}

@media (max-width: 750px) {
    .headerWrapper {
        max-width: 1110px;
        margin: 40px auto 80px;
        padding: 0px 39px;
    }
}

@media (max-width: 375px) {
    .headerWrapper {
        width: 343px;
        margin: 0 auto 0;
        padding: 24px 15px;
    }
}