@import '../../styles/variables.module.scss';

.headerWrapper {
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin: 40px auto 80px;
}