@import '../../styles/variables.module.scss';

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 450px;
    background-color: $baige;
}

.backgroundWrapper {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.reviewWrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 40px;
    max-width: 1110px;
    margin: -300px auto 0;
    align-items: center;
    background-image: url(../../assets/pattern-blur.svg);
    background-repeat: no-repeat;
    border-radius: 15px;
    background-color: $dark-blue;
    color: $white;
    background-position: 35px 78px;
}

.jeremyImg {
    margin-top: -48px;
    height: 590px;
    width: 361px;
}

.jeremySmall {
    display: none;
}

.line {
    align-self: flex-start;
    margin-top: 160px;
}

.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    position: relative;
    align-items: flex-start;
    max-width: 35%;
    padding-bottom: 88px;
}

.title {
    font-size: $headling-L;
    line-height: 56px;
}

.title strong {
    font-weight: 700;
}

.text {
    font-size: $quote-font-size;
    line-height: 35px;
}

.author {
    font-weight: 700;
    font-size: $body-font-size;
    line-height: 32px;
}

.position {
    font-size: $headling-S;
    line-height: 26px;
}

.footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    margin: 100px 0 0;
    padding-bottom: 70px;
    background-color: $baige;
}

.footerLogo {
    width: 81px;
    font-weight: 900;
    font-size: calc($headling-L / 2);
    color: $dark-blue;
}

.footerText {
    width: 160px;
    color: $dark-gray;
    font-size: $headling-S;
    text-align: center;
}

.socials {
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social {
    margin-left: 28px;
    cursor: pointer;
}

.social:hover {
    opacity: 0.5;
}

@media (max-width: 750px) {
    .footer {
        margin-top: 500px;
    }
    .footerWrapper {
        margin-left: 20px;
    }

    .footerText {
        font-size: $footer-font-size;
    }

    .reviewWrapper {
        height: 684px;
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
        justify-content: space-between;
        background-position: 51px -186px;
    }

    .jeremyImg {
        margin-top: -176px;
        height: 395px;
        width: 243px;
    }
    .jeremy {
        display: none;
    }

    .jeremySmall {
        display: block;
    }

    .line {
        margin: 0;
        height: 40px;
        align-self: center;
    }

    .review {
        max-width: 573px;
        align-items: center;
    }

    .title {
        font-size: calc($headling-L / 1.2);
    }

    .text {
        text-align: center;
        font-size: $body-font-size;
    }

    .authorReview {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .backgroundWrapper {
        width: 100%;
        margin: 0;
    }
    .reviewWrapper {
        padding-left: 16px;
        padding-right: 16px;
        max-width: 375px;
        height: 748px;
        margin: -300px 0 0;
        background-image: none;
    }

    .text {
        line-height: 32px;
    }

    .footerWrapper {
        height: 120px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 33px;
        margin: 50px 0 0;
    }
    .social {
        margin-right: 28px;
    }
}
