@import '../../styles/variables.module.scss';

.btnSecondaryWrapper {
    width: 219px;
    height: 56px;
    background-color: transparent;
    border: 1px $dark-blue solid;
    border-radius: 6px;
    cursor: pointer;
    color: $dark-blue;
    font-weight: 700;
    font-size: $headling-S;
}


.btnSecondaryWrapper:hover {
    background-color: $dark-blue;
    color: $white;
}

.btnDefault {
    width: 256px;
    height: 61px;
    background-color: $dark-blue;
    color: $white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 700;
    font-size: $headling-S;
}


.btnDefault:hover {
    background: linear-gradient(159deg, $pink 56%, $orange);
}